node_modules/
vendor/
.env
.env.*
!.env.example
!**/.env.example
!**/.env.local.example
apps/matrix-api/.env
apps/matrix-web/.env.local
*.log
.DS_Store
.idea/
.vscode/
dist/
.next/
coverage/
apps/matrix-api/storage/*.key
apps/matrix-api/bootstrap/cache/*.php
apps/matrix-api/storage/framework/views/*.php
apps/module-web-uptime/data/
apps/module-web-uptime/storage/*.key
apps/module-web-uptime/bootstrap/cache/*.php
**/tsconfig.tsbuildinfo
